@model digitalmarketingjobs.ph.Models.HomeViewModel

<!-- Slider
================================================== -->
<div class="fullwidthbanner-container">
    <div class="fullwidthbanner">
        <ul>

            <!-- Slide 1 -->
            <li data-fstransition="fade" data-transition="fade" data-slotamount="10" data-masterspeed="300">
                <img src="images/banner-02.jpg" alt="">

                <div class="caption title sfb" data-x="center" data-y="195" data-speed="400" data-start="800" data-easing="easeOutExpo">
                    <h2>Hire great hourly employees</h2>
                </div>

                <div class="caption text align-center sfb" data-x="center" data-y="270" data-speed="400" data-start="1200" data-easing="easeOutExpo">
                    <p>Work Scout is most trusted job board, connecting the world's <br> brightest minds with resume database loaded with talents.</p>
                </div>

                <div class="caption sfb" data-x="center" data-y="400" data-speed="400" data-start="1600" data-easing="easeOutExpo">
                    <a href="dashboard-add-job.html" class="slider-button">Hire</a>
                    <a href="browse-jobs.html" class="slider-button">Work</a>
                </div>
            </li>

        </ul>
    </div>
</div>



<!-- Content
================================================== -->

<div class="container">

    <!-- Recent Jobs -->
    <div class="eleven columns">
        <div class="padding-right">
            <h3 class="margin-bottom-25">Recent Jobs</h3>
            <div class="listings-container">

                @{
                    var recentJobs = Model.RecentJobs;

                    foreach (var job in recentJobs)
                    {
                        <a href="@Url.Action("Job","Details",new { JobId = job.JobId })" class="listing full-time">
                            <!-- Listing -->

                            <div class="listing-logo">
                                <img src="images/job-list-logo-01.png" alt="">

                            </div>
                            <div class="listing-title">
                                <h4>@job.Title <span class="listing-type">@job.JobType.Type</span></h4>
                                <ul class="listing-icons">
                                    <li><i class="ln ln-icon-Management"></i> @job.Client.CompanyName</li>

                                    <li><i class="ln ln-icon-Money-2"></i> $@job.SalaryFrom- $@job.SalaryTo</li>
                                    <li><div class="listing-date new">new</div></li>
                                </ul>
                            </div>
                        </a>
                    }
                }
            </div>
                <a href="browse-jobs.html" class="button centered"><i class="fa fa-plus-circle"></i> Show More Jobs</a>
                <div class="margin-bottom-55"></div>
           
        </div>
        </div>

    <!-- Job Spotlight -->
    <div class="five columns">
        <h3 class="margin-bottom-5">Job Spotlight</h3>

        <!-- Navigation -->
        <div class="showbiz-navigation">
            <div id="showbiz_left_1" class="sb-navigation-left"><i class="fa fa-angle-left"></i></div>
            <div id="showbiz_right_1" class="sb-navigation-right"><i class="fa fa-angle-right"></i></div>
        </div>
        <div class="clearfix"></div>

        <!-- Showbiz Container -->
        <div id="job-spotlight" class="showbiz-container">
            <div class="showbiz" data-left="#showbiz_left_1" data-right="#showbiz_right_1" data-play="#showbiz_play_1">
                <div class="overflowholder">

                    <ul>
                        @foreach (var job in Model.spotlightJobs)
                        {
                        <li>
                            <div class="job-spotlight">
                                <a href="#"><h4>@job.Title <span class="part-time">@job.JobType.Type</span></h4></a>
                           
                                <span><i class="fa fa-money"></i> $@job.SalaryFrom - $@job.SalaryTo</span>
                                <p>@job.Description</p>
                                <a href="@Url.Action("details","job",new { JobId = job.JobId })" class="button">Apply For This Job</a>
                            </div>
                        </li>
                        }

                      


                    </ul>
                    <div class="clearfix"></div>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>


<!-- Info Banner -->
<div class="container">
    <div class="sixteen columns">

        <div class="info-banner">
            <div class="info-content">
                <h3>Perfect Theme for Your Own Job Board</h3>
                <p>Work Scout is a premium theme that is perfect for recruiters and job offices</p>
            </div>
            <a href="#" class="button">Get This Theme</a>
            <div class="clearfix"></div>
        </div>

    </div>
</div>
